# .gitignore
NeetCode/CSharp/ArraysAndHashing/ContainsDuplicate/bin/
NeetCode/CSharp/ArraysAndHashing/ContainsDuplicate/obj/
NeetCode/CSharp/ArraysAndHashing/ValidAnagram/bin/
NeetCode/CSharp/ArraysAndHashing/ValidAnagram/obj/
NeetCode/CSharp/ArraysAndHashing/TwoSum/bin/
NeetCode/CSharp/ArraysAndHashing/TwoSum/obj/
NeetCode/CSharp/ArraysAndHashing/GroupAnagrams/bin/
NeetCode/CSharp/ArraysAndHashing/GroupAnagrams/obj/
NeetCode/CSharp/ArraysAndHashing/TopKFrequentElements/bin/
NeetCode/CSharp/ArraysAndHashing/TopKFrequentElements/obj/
NeetCode/CSharp/ArraysAndHashing/ConcatenationOfArray/bin/
NeetCode/CSharp/ArraysAndHashing/ConcatenationOfArray/obj/
NeetCode/CSharp/ArraysAndHashing/Recap/bin/
NeetCode/CSharp/ArraysAndHashing/Recap/obj/
NeetCode/CSharp/ArraysAndHashing/ReplaceElementsWithGreatestElementOnRightSide/bin/
NeetCode/CSharp/ArraysAndHashing/ReplaceElementsWithGreatestElementOnRightSide/obj/
NeetCode/CSharp/ArraysAndHashing/IsSubsequence/bin/
NeetCode/CSharp/ArraysAndHashing/IsSubsequence/obj/
NeetCode/CSharp/ArraysAndHashing/LengthOfLastWord/bin/
NeetCode/CSharp/ArraysAndHashing/LengthOfLastWord/obj/
NeetCode/CSharp/ArraysAndHashing/LongestCommonPrefix/bin/
NeetCode/CSharp/ArraysAndHashing/LongestCommonPrefix/obj/
UdemyCourse/Exercises/ContainsCommonItem/bin/
UdemyCourse/Exercises/ContainsCommonItem/obj/
PersonalTests/StringTests/bin
PersonalTests/StringTests/obj
UdemyCourse/Exercises/ReverseString/bin
UdemyCourse/Exercises/ReverseString/obj
UdemyCourse/Exercises/MergeSortedArrays/bin
UdemyCourse/Exercises/MergeSortedArrays/obj
C-SharpExercises/SimpleExercises/bin
C-SharpExercises/SimpleExercises/obj
NeetCode/CSharp/ArraysAndHashing/RemoveDuplicateFromSortedArray/obj/
NeetCode/CSharp/ArraysAndHashing/RemoveElement/obj/
NeetCode/CSharp/ArraysAndHashing/GetConcatenation/obj/
NeetCode/CSharp/ArraysAndHashing/GetConcatenation/bin/
NeetCode/CSharp/ArraysAndHashing/BaseballGame/obj/
NeetCode/CSharp/ArraysAndHashing/BaseballGame/bin/
NeetCode/CSharp/ArraysAndHashing/ValidParentheses/obj/
NeetCode/CSharp/ArraysAndHashing/ValidParentheses/bin/