# .gitignore
NeetCode/CSharp/ArraysAndHashing/ContainsDuplicate/bin/
NeetCode/CSharp/ArraysAndHashing/ContainsDuplicate/obj/
NeetCode/CSharp/ArraysAndHashing/ValidAnagram/bin/
NeetCode/CSharp/ArraysAndHashing/ValidAnagram/obj/
NeetCode/CSharp/ArraysAndHashing/TwoSum/bin/
NeetCode/CSharp/ArraysAndHashing/TwoSum/obj/
NeetCode/CSharp/ArraysAndHashing/GroupAnagrams/bin/
NeetCode/CSharp/ArraysAndHashing/GroupAnagrams/obj/
NeetCode/CSharp/ArraysAndHashing/TopKFrequentElements/bin/
NeetCode/CSharp/ArraysAndHashing/TopKFrequentElements/obj/
NeetCode/CSharp/ArraysAndHashing/ConcatenationOfArray/bin/
NeetCode/CSharp/ArraysAndHashing/ConcatenationOfArray/obj/